/*
COLORS: 
*/

$backdrop: #021826;
$accent1: #0B8C8C;


body {
    background: url(pic_trough_triangles.jpg);
    background-size: 20%;
    text-align: center;
    color: white;
    font-family: Comic Sans;
    height: 1000px;
    margin-left: 20%;
    margin-right: 20%;
}

header,
nav {
    background-color: $backdrop;
    padding: 1%;
    margin-top: 1%;
    border: 7px double $accent1;
}

#nav_title {
    font-size: 3em;
    margin: 0px;
}

header {
    font-size: 7em;
    padding: 2%;
}

nav ul li {
    font-size: 2em;
    list-style-type: none;
    display: inline-block;
    margin: 20px;
    padding: 10px;
    border: 1px solid white;
    border-left: none;
    border-right: none;
}

nav ul {
    border-top: 1px solid white;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

a {
    color: white;
    text-decoration: none;
}

h3 {
    margin-top: 0px;
    padding: 10px;
    border-bottom: 1px solid white;
}

.track {
    margin-top: 1%;
    padding: 2%;
    background-color: $backdrop;
    display: left;
    justify-content: left;
    font-size: 1.3em;
    border: 7px double $accent1;
}

.controls {
    border-radius: 0px;
}

#link {
    text-decoration: underline;
}

a:hover {
    color: $accent1;
}

/*Audioplayer*/
.audio-player-info {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 30px;
}

/* .audio-player {
    display: flex;
    flex-direction: row;
    justify-content: center;
} */

.audio-player-info {
    margin: auto;
}

.audioplayer-button {
    height: 30px;
    width: 30px;
    margin: 2px;
    background-color: white;
    color: $backdrop;
    padding: 10 px;
    border-color: $accent1;
}

.audioplayer-buttons {
    margin-bottom: 10px;
    margin-top: 20px;

}

.audioplayer-button:hover {
    border-style: inset;
}

.audioplayer-button:visited {
    border-style: none;
}